@media only screen and (min-width: 31rem) {

    .contact {
        display: none;
    }

    .gallery {
        margin: 0;
        padding: 0;
    }

    .hero {
        display: grid;
    }

    .samp {
        display: flex;
        justify-content: center;
    }

    figure {
        width: 200px;
    }

    .picture {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    header {
        display: flex;
        margin: 10px;
        gap: 3em;
    }

    nav {
        display: inline-block;
        align-content: center;
        background-color: #FFFFF0;
    }

    header nav ul {
        display: flex;
        align-items: center;
    }

	.navigation li {
		display: block; 
		flex: 1 1 100%;

	}
	.navigation a {
		text-align: center;
        color: #99582A;
	}
	#menu {
		display: none;
	}
}