/* Color 1: BB9457 Color 2: 99582A Color 3: FFE6A7 Color 4: FFFFF0 color 5: 000000
page background color: FFFFF0 background color: BB9457 headings: 99582A accents: FFE6A7 color: 000000 */

:root {
    --page-background: #FFFFF0;
    --background-color: #BB9457;
    --heading-color: #99582A;
    --extra-color1: #FFE6A7;
    --extra-color2: #000000;
    --extra-color3: #0000FF;
    --extra-color4: #00FF00;
    --extra-color5: #FF0000;
    --extra-color6: #808080;
    --body-font: "Roboto", sans-serif;
    --heading-font: "Merriweather" serif;
}


body {
    background-color: var(--page-background);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: var(--extra-color2);
}

#menu::before {
	content: "≡";
}

nav {
	background-color: var(--background-color);
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--extra-color2);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: var(--extra-color2);
	background-color: var(--background-color);
}

.show li {
	display: block;
} 

#menu.show::before {
	content: "X";
}

.gallery {
    display: grid;
    justify-content: center;
    padding: 15px;
}

.contact {
    display: grid;
    justify-content: center;
    padding: 15px;
}

.button {
    display: block;
    background-color: var(--background-color);
    margin: 10px 70px 10px 70px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.facts ul {
    padding: 10px;
}

.picture {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    place-items: center;
}

.picture img {
    width: 200px;
}

a {
    text-decoration: none;
    color: var(--extra-color2);
} 


h1, h2 {
    padding: 0;
    margin: 15px;
    font-family: var(--heading-font);
    color: var(--heading-color);
}

img {
    width: 100%;
    height: auto;
}

.facts {
    margin: 20px;
    padding: 20px;
    background-color: var(--extra-color1);
}

figcaption {
    text-align: center;
}

.tourform h2 {
    padding-left: 15px;
}

.tourform {
    border: 1px solid var(--extra-color6);
    margin: 20px;
    padding: 10px 0px;
}

.tourform fieldset {
    margin: .9rem;
}

label {
    display: block;
    color: var(--heading-color);
}

.optional {
    color: var(--extra-color3);
}

.tourform input[type="text"],
.tourform input[type="tel"],
.tourform input[type="email"],
.tourform input[type="datetime-local"] {
    display: block;
    appearance: none;
    margin-bottom: 10px;
    padding: .75rem;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
}

.tourform select {
    width: 100%;
    display: block;
    appearance: none;
    margin-bottom: 10px;
    padding: .75rem;
    border-radius: 12px;
    max-width: 425px;
}

.tourform input[type="radio"] {
    width: .75rem;
}

.tourform input[type="submit"] {
    padding: .75rem;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-left: 1.9rem;
    width: 82%;
    max-width: 425px;
    background-image: linear-gradient(#e0cfb2, #BB9457);
}

.tourform input:required {
    border-bottom: solid 8px var(--extra-color5);
}

.tourform input:required:valid {
    border-bottom: solid 8px var(--extra-color4);
}

.tourform select:required {
    border-bottom: solid 8px var(--extra-color5);
}

.tourform select:required:valid {
    border-bottom: solid 8px var(--extra-color4);
}

p {
    margin-left: 15px;
    font-weight: bold;
}

p a {
    color: var(--extra-color3);
}

p a:hover {
    color: var(--heading-color);
}

footer {
    background-image: linear-gradient(#e0cfb2, #BB9457);
    padding: .1rem;
    text-align: center;
}

footer p {
    font-weight: normal;
}