
body {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h1,h2 {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: mediumslateblue;
    padding: 20px;
    margin: 0;
}

.navigation {
    display: flex;
    list-style: none;
    background-color: darkcyan;
    padding: 10px;
    margin: 0;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
}

.navigation a:hover {
    border-bottom: 1px solid orange;
    font-weight: bold;
}

.wrap {
    flex-wrap: wrap;
}

.me {
    flex-wrap: wrap;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 500rem;
}

.card {
    display: grid;
    margin: 10px; 
    border: 1px solid grey;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#country  {
    background-color: white;
    border-bottom: 1px solid grey;
    margin: 0 300px;
    padding-top: 20px;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: auto;
    padding: 20px;
    float: right;
}

figure {
    float: left;
    text-align: center;
}


p {
    padding: 20px;
}

footer {
    display: grid;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}

footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

#lastModified {
    color: yellow;
}

.card ul {
    margin-top: 120px;
}
.card li {
    padding: 10px;
}