body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    /* background-color: #ffe6a7; */
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #bb9457;
    margin: 0;
    padding: 20px;
}

#secheading {
    text-align: center;
    padding: 10px;
}

img {
    width: 200px;
}

#menu {
    display: block;
    background-color: #eee;
    /* padding: 5px; */
    text-decoration: none;
    cursor: pointer;
    padding: .5rem .75rem;
}

.navigation {
    list-style: none;
    /* justify-content: space-evenly; */
    background-color: #a5a58d;
    margin: 0 auto;
    /* padding: 10px; */
}

.navigation li {
    display: none;
    /* flex: 1 1 100%; */
    /* text-align: center; */
}

.navigation a {
    display: block;
    transition: 0.2s;
    text-align: left;
    text-decoration: none;
    color: black;
    padding: 3px;
}

.navigation a:hover {
    background-color: #FFE6A7;
    text-decoration: underline;
    color: darkblue;
}

main {
    margin: 0 auto;
    max-width: 90%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    place-items: center;
    text-align: center;
    gap: 50px;
}

.temple-card {
    border: grey solid 1px;
    padding: 10px;
    background-color: aliceblue;
}

h3 {
    font-weight: bold;
}

footer {
    display: grid;
    justify-content: center;
    background-color: #bb9457;
    padding: 5px;
    background-color: #a5a58d;
    margin-top: 20px;
}

footer p {
    margin: 0;
    padding: 5px;
    text-align: center;
}

#lastModified {
    color: darkblue;
}

#menu::before {
    content: "≡";
}

.show li {
    display: grid;
    padding: 5px;
}

#menu.show::before {
    content: "x";
}

.show {
    padding: 0;
}
